services:
  vuln-store:
    build: .
    image: integer-demo:latest
    command: ["node", "vuln-store.js"]
    ports:
      - "3200:3200"

  safe-store:
    build: .
    image: integer-demo:latest
    command: ["node", "safe-store.js"]
    ports:
      - "3201:3201"

  cli:
    build: .
    image: integer-demo:latest
    command: ["node", "exploit-store-cli.js"]
    stdin_open: true
    tty: true
    environment:
      - DOCKER_ENV=true
    depends_on:
      - vuln-store
      - safe-store
